body {
  margin: 0;
  padding: 0; }

html {
  font-size: 11px; }

div {
  box-sizing: border-box; }

#header .animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); } }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); } }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0); } }

.carousel {
  overflow: hidden; }

.carousel-control-prev, .carousel-control-next {
  width: 5%; }

.carousel-control-prev {
  left: -1.5rem; }

.carousel-control-next {
  right: -1.5rem; }

.img-fluid {
  width: 100% !important;
  height: 100%; }

.btn-vehicle {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  font-weight: bold;
  padding: 6px 30px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 5px; }
  .btn-vehicle:hover {
    background-color: #fff;
    color: #007cc3; }

.btn-vehicle-active {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #fff;
  color: #007cc3;
  font-weight: bold;
  padding: 6px 30px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn-vehicle-active:hover {
    background-color: #2198dc;
    color: #fff; }

.btn-search {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: transparent;
  color: #007cc3;
  font-weight: bold;
  padding: 6px 30px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: -20px; }
  .btn-search:hover {
    background-color: #2198dc;
    color: #fff; }
  @media screen and (max-width: 768px) {
    .btn-search {
      border: 2px solid #fff;
      border-radius: 40px;
      background-color: transparent;
      color: #fff;
      font-weight: bold;
      padding: 6px 15px;
      font-size: 1.4rem;
      cursor: pointer;
      margin-top: 0;
      border-radius: 5px; }
      .btn-search:hover {
        background-color: #fff;
        color: #2198dc; } }

.btn-carousel {
  border: 2px solid #ff4040;
  border-radius: 40px;
  background-color: #ff4040;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn-carousel:hover {
    background-color: #fff;
    color: #ff4040; }

.btn-go {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn-go:hover {
    background-color: transparent;
    color: #007cc3; }

.btn-go-orange {
  border: 2px solid #ff4040;
  border-radius: 40px;
  background-color: #ff4040;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn-go-orange:hover {
    background-color: #fff;
    color: #ff4040; }

.btn-build {
  border: 2px solid #fff;
  border-radius: 40px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn-build:hover {
    background-color: #fff;
    color: #007cc3; }

.btn-caption {
  padding: 6px 30px; }
  @media screen and (max-width: 576px) {
    .btn-caption {
      font-size: 1.2rem;
      padding: 6px 20px; } }

#img-1 {
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5); }

.vehicle-product:hover > #img-1 {
  background: linear-gradient(#3C4C5C, #f5f5f5, #f5f5f5); }

.delay-1 {
  animation-delay: 0.15s; }

#img-2 {
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5); }

.vehicle-product:hover > #img-2 {
  background: linear-gradient(#5E5E5E, #f5f5f5, #f5f5f5); }

.delay-2 {
  animation-delay: 0.3s; }

#img-3 {
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5); }

.vehicle-product:hover > #img-3 {
  background: linear-gradient(#14409A, #f5f5f5, #f5f5f5); }

.delay-3 {
  animation-delay: 0.45s; }

#img-4 {
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5); }

.vehicle-product:hover > #img-4 {
  background: linear-gradient(#C0BAB5, #f5f5f5, #f5f5f5); }

.delay-4 {
  animation-delay: 0.6s; }

#img-5 {
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5); }

.vehicle-product:hover > #img-5 {
  background: linear-gradient(#5C5C5C, #f5f5f5, #f5f5f5); }

.delay-5 {
  animation-delay: 0.75s; }

#img-6 {
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5); }

.vehicle-product:hover > #img-6 {
  background: linear-gradient(#33569C, #f5f5f5, #f5f5f5); }

.delay-6 {
  animation-delay: 0.9s; }

#swiper-slider .slide-1 {
  background: url("../img/banner-1.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    #swiper-slider .slide-1 {
      background: url("../img/banner-1-xs.jpg");
      background-size: cover;
      background-position: unset; } }
  @media screen and (max-width: 576px) {
    #swiper-slider .slide-1 {
      background: url("../img/banner-1-xs.jpg");
      background-size: cover;
      background-position: center center; } }

#swiper-slider .slide-2 {
  background: url("../img/banner-2.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    #swiper-slider .slide-2 {
      background: url("../img/banner-2-xs.jpg");
      background-size: cover;
      background-position: unset; } }
  @media screen and (max-width: 576px) {
    #swiper-slider .slide-2 {
      background: url("../img/banner-2-xs.jpg");
      background-size: cover;
      background-position: center center; } }

#swiper-slider .slide-3 {
  background: url("../img/banner-3.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    #swiper-slider .slide-3 {
      background: url("../img/banner-3-xs.jpg");
      background-size: cover;
      background-position: unset; } }
  @media screen and (max-width: 576px) {
    #swiper-slider .slide-3 {
      background: url("../img/banner-3-xs.jpg");
      background-size: cover;
      background-position: center center; } }

#swiper-slider .slide-4 {
  background: url("../img/banner-4.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    #swiper-slider .slide-4 {
      background: url("../img/banner-4-xs.jpg");
      background-size: cover;
      background-position: unset; } }
  @media screen and (max-width: 576px) {
    #swiper-slider .slide-4 {
      background: url("../img/banner-4-xs.jpg");
      background-size: cover;
      background-position: center center; } }

.carousel-inner .item-1 {
  background: url("../img/slider-1.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item-1 {
      background: url("../img/slider-1-xs.jpg");
      background-size: cover;
      background-position: unset; } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item-1 {
      background: url("../img/slider-1-xs.jpg");
      background-size: cover;
      background-position: center center; } }

.carousel-inner .item-2 {
  background: url("../img/slider-2.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item-2 {
      background: url("../img/slider-2-xs.jpg");
      background-size: cover;
      background-position: unset; } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item-2 {
      background: url("../img/slider-2-xs.jpg");
      background-size: cover;
      background-position: center center; } }

.carousel-inner .item-3 {
  background: url("../img/slider-3.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item-3 {
      background: url("../img/slider-3-xs.jpg");
      background-size: cover;
      background-position: unset; } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item-3 {
      background: url("../img/slider-3-xs.jpg");
      background-size: cover;
      background-position: center center; } }

.carousel-inner .item-4 {
  background: url("../img/slider-4.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item-4 {
      background: url("../img/slider-4-xs.jpg");
      background-size: cover;
      background-position: unset; } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item-4 {
      background: url("../img/slider-4-xs.jpg");
      background-size: cover;
      background-position: center center; } }

.carousel-inner .item-5 {
  background: url("../img/slider-5.jpg");
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    .carousel-inner .item-5 {
      background: url("../img/slider-5-xs.jpg");
      background-size: cover;
      background-position: unset; } }
  @media screen and (max-width: 576px) {
    .carousel-inner .item-5 {
      background: url("../img/slider-5-xs.jpg");
      background-size: cover;
      background-position: center center; } }

.function-1 {
  background: url("../img/item-1.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }
  @media screen and (min-width: 440px) and (max-width: 576px) {
    .function-1 {
      background-size: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .function-1 {
      background-size: 150%; } }

.function-2 {
  background: url("../img/item-2.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }
  @media screen and (min-width: 440px) and (max-width: 576px) {
    .function-2 {
      background-size: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .function-2 {
      background-size: 150%; } }

.function-3 {
  background: url("../img/item-3.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }
  @media screen and (min-width: 440px) and (max-width: 576px) {
    .function-3 {
      background-size: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .function-3 {
      background-size: 150%; } }

.function-4 {
  background: url("../img/item-4.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }
  @media screen and (min-width: 440px) and (max-width: 576px) {
    .function-4 {
      background-size: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .function-4 {
      background-size: 150%; } }

.discover-item-1 {
  background: url("../img/discover-1.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

.discover-item-2 {
  background: url("../img/discover-2.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

.discover-item-3 {
  background: url("../img/discover-3.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

.discover-item-4 {
  background: url("../img/discover-4.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

.discover-item-5 {
  background: url("../img/discover-5.jpg");
  background-size: 120%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #fff; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%; }

.navbar {
  padding: 0; }

#navbar {
  background-color: #007cc3; }
  #navbar a {
    color: #fff;
    padding: 20px 25px;
    border-right: 1px solid #4f91ca;
    border-left: 1px solid #4f91ca;
    font-size: 1.4rem; }
    #navbar a:hover {
      text-decoration: none; }
  #navbar .nav-item .nav-link {
    padding: 20px 25px; }
  #navbar a:first-child {
    padding: 0 25px; }
  #navbar .discover-menu {
    left: unset;
    right: -30%;
    width: 40rem;
    padding: 25px;
    box-shadow: 1px 20px 70px -10px rgba(59, 59, 59, 0.63);
    border: none; }
    #navbar .discover-menu::before {
      content: '';
      border-bottom: 15px solid white;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      position: absolute;
      top: -15px;
      left: unset;
      right: 15%; }
    #navbar .discover-menu .dropdown-item:hover {
      background-color: transparent; }
    #navbar .discover-menu .dropdown-menu-detail {
      display: flex; }
      #navbar .discover-menu .dropdown-menu-detail > div {
        width: 50%; }
      #navbar .discover-menu .dropdown-menu-detail h3 {
        margin-bottom: 20px;
        color: #00324f;
        font-weight: bold; }
      #navbar .discover-menu .dropdown-menu-detail .dropdown-detail-right {
        padding-left: 20px; }
      #navbar .discover-menu .dropdown-menu-detail ul {
        list-style: none;
        margin: 0;
        padding: 0; }
      #navbar .discover-menu .dropdown-menu-detail ul li {
        margin-bottom: 15px; }
      #navbar .discover-menu .dropdown-menu-detail ul li a {
        color: #2198dc;
        border: none;
        padding: 0;
        font-weight: bold;
        font-size: 1.4rem; }
    #navbar .discover-menu .dropdown-menu-social {
      display: flex;
      justify-content: space-around;
      margin-top: 30px; }
      #navbar .discover-menu .dropdown-menu-social i {
        width: 30px;
        height: 30px;
        background-color: #007cc3;
        border-radius: 50%;
        color: white;
        font-size: 1.4rem;
        text-align: center;
        line-height: 30px; }

.no-border {
  border: 0 !important; }

#navbar > .active {
  color: #2198dc !important;
  background-color: #fff !important; }

.container--config {
  padding: 0 10%; }

#vehicles {
  background-color: rgba(0, 67, 108, 0.8); }
  #vehicles #vehicle-content {
    position: relative; }
    #vehicles #vehicle-content .vehicle-nav {
      background-color: #fff;
      text-align: center;
      padding: 20px 0; }
      #vehicles #vehicle-content .vehicle-nav ul {
        list-style: none;
        margin: 0; }
        #vehicles #vehicle-content .vehicle-nav ul li {
          display: inline; }
          #vehicles #vehicle-content .vehicle-nav ul li a {
            padding: 6px 25px;
            font-weight: bold;
            color: #00324f;
            border-right: 0.15rem solid #eaeaea;
            font-size: 1.4rem; }
            #vehicles #vehicle-content .vehicle-nav ul li a:hover {
              color: #2198dc;
              text-decoration: none; }
        #vehicles #vehicle-content .vehicle-nav ul li.active a {
          color: #2198dc;
          text-decoration: underline; }
  #vehicles #vehicle-list {
    background-color: #f5f5f5;
    padding: 50px;
    padding-bottom: 100px;
    max-height: 700px; }
    #vehicles #vehicle-list .vehicle-tittle h1 {
      background-color: #f5f5f5;
      position: relative;
      top: -2.7rem;
      padding: 0 6px;
      color: #00324f;
      font-weight: bold;
      font-size: 2.4rem; }
      #vehicles #vehicle-list .vehicle-tittle h1 i {
        font-size: 1.2rem;
        position: relative;
        top: -5px; }
      #vehicles #vehicle-list .vehicle-tittle h1 span {
        font-weight: normal; }
    #vehicles #vehicle-list .vehicle-product {
      color: #00324f;
      margin-bottom: 30px; }
      #vehicles #vehicle-list .vehicle-product:hover > .vehicle-img img:last-child {
        display: block; }
      #vehicles #vehicle-list .vehicle-product:hover > .vehicle-img img:first-child {
        display: none; }
      #vehicles #vehicle-list .vehicle-product .vehicle-img img:last-child {
        display: none; }
      #vehicles #vehicle-list .vehicle-product h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 5px; }
      #vehicles #vehicle-list .vehicle-product .vehicle-info {
        margin-bottom: 20px; }
        #vehicles #vehicle-list .vehicle-product .vehicle-info h3 {
          font-weight: normal;
          font-size: 2.4rem; }
        #vehicles #vehicle-list .vehicle-product .vehicle-info p {
          font-size: 1.4rem;
          margin-bottom: 5px; }
  #vehicles #vehicle-close {
    background-color: #f5f5f5;
    width: 60px;
    padding: 15px 0px;
    text-align: center;
    position: absolute;
    left: 90%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    color: #007cc3; }
    #vehicles #vehicle-close:hover > .vehicle-circle {
      border: 1px solid #00446a; }
    #vehicles #vehicle-close:hover {
      color: #00446a; }
    #vehicles #vehicle-close .vehicle-circle {
      width: 25px;
      height: 25px;
      border: 1px solid #007cc3;
      border-radius: 50%;
      text-align: center;
      margin: auto; }
      #vehicles #vehicle-close .vehicle-circle i {
        font-size: 1.4rem;
        line-height: 25px; }
    #vehicles #vehicle-close p {
      font-size: 1.4rem;
      font-weight: bold; }

.hide-vehicle {
  display: none; }

.search-field {
  background-color: #f5f5f5;
  padding: 6px 50px;
  position: relative; }
  .search-field i {
    color: #2198dc;
    font-size: 1.8rem;
    transform: translateY(-3px); }
  .search-field input {
    width: 87%;
    height: 4.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 300;
    font-size: 2.4rem;
    color: #2198dc; }
    .search-field input::placeholder {
      font-size: 2.4rem; }
  .search-field::before {
    content: '';
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: unset;
    right: 1%;
    border-bottom-color: #f5f5f5; }

#search-field {
  padding: 0 50px;
  background-color: #fff;
  border: 1px solid #eaeaea; }
  #search-field::before {
    display: none; }
  #search-field div {
    padding: 6px 0;
    width: 90%;
    border-right: 1px solid #eaeaea; }
    #search-field div input {
      margin-left: 5px;
      width: 85%; }
  #search-field p {
    flex-grow: 1;
    font-size: 1.4rem;
    color: #2198dc;
    text-align: right;
    margin: 0;
    cursor: pointer; }

#footer {
  padding: 50px 5%;
  background-color: #f5f5f5;
  flex-wrap: wrap; }
  #footer h1 {
    font-weight: bold;
    margin-bottom: 30px;
    color: #00324f;
    font-size: 1.8rem; }
  #footer .footer-detail ul li {
    margin-bottom: 20px; }
    #footer .footer-detail ul li a {
      font-size: 1.4rem;
      color: #2198dc; }
  #footer .footer-touch {
    width: 100%;
    margin-top: 30px;
    border-top: 0.15rem solid #eaeaea;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0; }
    #footer .footer-touch .touch-left i {
      width: 30px;
      height: 30px;
      background-color: #007cc3;
      border-radius: 50%;
      color: white;
      font-size: 1.4rem;
      text-align: center;
      line-height: 30px; }
    #footer .footer-touch .touch-right {
      text-align: right; }
      #footer .footer-touch .touch-right p {
        font-size: 1.4rem;
        color: #00324f;
        margin-bottom: 20px; }
      #footer .footer-touch .touch-right .btn-search {
        margin-top: 0; }

#copy-right {
  background-color: #007cc3;
  padding: 0 5%;
  padding-top: 15px;
  padding-bottom: 15px; }
  #copy-right .copy-right-left p {
    font-size: 1.4rem;
    color: #f5f5f5; }
    #copy-right .copy-right-left p a {
      color: #f5f5f5;
      text-decoration: underline;
      font-style: italic; }
  #copy-right .copy-right-right ul {
    justify-content: flex-end; }
    #copy-right .copy-right-right ul li {
      padding: 0 15px;
      border-left: 1px solid #eaeaea; }
      #copy-right .copy-right-right ul li a {
        font-size: 1.4rem;
        color: #f5f5f5; }
    #copy-right .copy-right-right ul li:first-child {
      border-left: 0; }
  #copy-right .logo-footer {
    margin-top: 30px; }
    #copy-right .logo-footer img {
      max-width: 50%;
      height: 4rem; }

#swiper-slider {
  height: 750px;
  margin-top: 60px;
  background-color: #00324f; }
  #swiper-slider .swiper-container {
    height: 500px; }
    #swiper-slider .swiper-container .swiper-wrapper {
      height: 93%; }
      #swiper-slider .swiper-container .swiper-wrapper .swiper-slide {
        height: 100%; }
  #swiper-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #007cc3; }
  #swiper-slider .swiper-button-next, #swiper-slider .swiper-button-prev {
    top: 45%;
    background-color: #ffffffe6;
    padding: 50px 30px;
    border-radius: 0.9rem; }
  #swiper-slider .swiper-button-prev {
    left: -0.8rem; }
  #swiper-slider .swiper-button-next {
    right: -0.8rem; }
  #swiper-slider .swiper-button-explore {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20%;
    z-index: 9; }

.intro {
  background-color: #f5f5f5; }
  .intro .intro-container {
    padding: 0 5%; }
    .intro .intro-container .intro-left, .intro .intro-container .intro-right {
      height: 350px;
      position: relative;
      background-size: cover;
      background-position: center center;
      background-clip: content-box;
      margin-top: -200px; }
    .intro .intro-container .intro-left {
      background-color: #000;
      background-image: url("../img/our-vehicle-intro-1.jpg"); }
      .intro .intro-container .intro-left .intro-left-content {
        color: #fff;
        position: absolute;
        bottom: 10%;
        font-size: 1.4rem; }
        .intro .intro-container .intro-left .intro-left-content h4 {
          font-weight: bold;
          margin-bottom: 20px;
          font-size: 1.8rem; }
        .intro .intro-container .intro-left .intro-left-content p {
          font-weight: 300;
          margin-bottom: 30px;
          padding: 0 20px; }
    .intro .intro-container .intro-right {
      background-image: url("../img/our-vehicles-intro-2.jpg"); }
      .intro .intro-container .intro-right .intro-right-content {
        color: #fff;
        position: absolute;
        top: 30%;
        left: 5%;
        font-size: 1.8rem;
        width: 40%; }
        .intro .intro-container .intro-right .intro-right-content h4 {
          font-weight: bold;
          margin-bottom: 20px;
          background: rgba(0, 67, 108, 0.8);
          padding: 6px 15px;
          display: inline-block;
          font-size: 1.8rem; }
        .intro .intro-container .intro-right .intro-right-content p {
          font-weight: bold;
          margin-bottom: 30px; }

#our-vehicles {
  background-color: #f5f5f5;
  border: 1px solid transparent; }
  #our-vehicles .carousel {
    height: 600px; }
  #our-vehicles .carousel-inner, #our-vehicles .carousel-item {
    height: 95%; }
  #our-vehicles h1 {
    color: #00324f;
    font-size: 6rem;
    margin: 30px 0 60px 0; }
  #our-vehicles .carousel-control-prev i, #our-vehicles .carousel-control-next i {
    font-size: 4rem;
    background-color: rgba(0, 67, 108, 0.8);
    padding: 20px;
    border-radius: 0.9rem; }
  #our-vehicles .carousel-indicators-config {
    margin-bottom: 20px; }
    #our-vehicles .carousel-indicators-config li {
      color: #00324f;
      font-weight: bold;
      font-size: 1.4rem;
      padding: 6px 20px;
      border-radius: 4rem;
      cursor: pointer; }
    #our-vehicles .carousel-indicators-config li.active {
      color: white;
      background-color: #2198dc;
      position: relative;
      display: flex;
      justify-content: center; }
      #our-vehicles .carousel-indicators-config li.active::before {
        content: '';
        border-top: 15px solid #fff;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -35px;
        z-index: 9; }
  #our-vehicles .carousel-caption-config {
    width: 30%;
    position: absolute;
    top: 8%;
    left: 6%;
    color: white;
    font-size: 1.4rem; }
    #our-vehicles .carousel-caption-config > p {
      font-weight: bold; }
      #our-vehicles .carousel-caption-config > p span {
        font-weight: normal; }
    #our-vehicles .carousel-caption-config img {
      width: 60%;
      transform: translateX(-15px); }
    #our-vehicles .carousel-caption-config .caption-content {
      font-weight: 300;
      margin-bottom: 30px; }
    #our-vehicles .carousel-caption-config .carousel-caption-detail {
      margin-bottom: 30px; }
      #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content h2 {
        font-weight: 300;
        font-size: 4rem; }
      #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content p {
        font-size: 1.4rem;
        font-weight: bold; }
  #our-vehicles .carousel-caption-footer {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 0.15rem solid #eaeaea; }
    #our-vehicles .carousel-caption-footer a {
      font-size: 1.4rem;
      font-weight: bold;
      color: #fff; }
  #our-vehicles .carousel-indicatiors-xs {
    width: 60%;
    margin: auto;
    background-color: #fff;
    border: 1px solid #eaeaea; }
    #our-vehicles .carousel-indicatiors-xs .indicators-xs-header {
      padding: 0 15px; }
    #our-vehicles .carousel-indicatiors-xs h1 {
      font-size: 1.2rem;
      margin: 5px;
      margin-right: auto;
      color: #007cc3;
      font-weight: 300;
      padding: 15px 0; }
      #our-vehicles .carousel-indicatiors-xs h1 span {
        font-weight: bold;
        color: #00324f; }
    #our-vehicles .carousel-indicatiors-xs i {
      font-size: 4rem;
      color: #007cc3;
      transition: all 0.5s; }
    #our-vehicles .carousel-indicatiors-xs ol {
      padding: 0;
      margin: 0;
      list-style: none;
      border-top: 1px solid #eaeaea;
      display: none; }
    #our-vehicles .carousel-indicatiors-xs ol li {
      color: #00324f;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 15px;
      cursor: pointer; }
  #our-vehicles .function-container {
    padding: 0 6.5%;
    margin: 100px 0; }
  #our-vehicles .function {
    height: 300px;
    box-shadow: 0 5px 10px 0 rgba(8, 29, 42, 0.08);
    position: relative;
    cursor: pointer;
    transition: all 0.5s; }
    #our-vehicles .function:hover {
      transform: translateY(-20px); }
    #our-vehicles .function:hover .btn-go {
      background-color: transparent;
      color: #2198dc; }
    #our-vehicles .function h3 {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 5px;
      color: #00324f; }
    #our-vehicles .function p {
      font-size: 1.4rem;
      font-weight: 300;
      margin-bottom: 20px;
      color: #00446a;
      padding: 0 10%; }
    #our-vehicles .function div {
      position: absolute;
      text-align: center;
      top: 40%;
      left: 0;
      width: 100%; }
  #our-vehicles .intro-left-1 {
    background-image: url("../img/intro-3.jpg");
    margin: 0 0 20px 0; }
  #our-vehicles .intro-right-1 {
    background-image: url("../img/intro-4.jpg");
    margin-top: 0; }
  #our-vehicles #discover {
    padding: 0 6.5%; }
    #our-vehicles #discover .discover-title h1 {
      font-size: 6rem;
      margin-bottom: 5px; }
    #our-vehicles #discover .discover-title span {
      color: #00446a;
      font-weight: 300;
      font-size: 1.4rem; }
    #our-vehicles #discover .discover-item {
      height: 450px;
      position: relative;
      box-shadow: 0 5px 10px 0 rgba(8, 29, 42, 0.08);
      margin-top: 20px; }
      #our-vehicles #discover .discover-item .discover-item-content {
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 10%; }
        #our-vehicles #discover .discover-item .discover-item-content h2, #our-vehicles #discover .discover-item .discover-item-content a {
          font-weight: bold;
          margin-bottom: 20px;
          font-size: 1.8rem;
          color: #00324f; }
        #our-vehicles #discover .discover-item .discover-item-content p {
          font-weight: 300;
          margin-bottom: 20px;
          font-size: 1.4rem;
          padding: 0 20px; }
        #our-vehicles #discover .discover-item .discover-item-content a {
          color: #2198dc;
          font-size: 1.4rem; }
    #our-vehicles #discover .discover-item-6 {
      color: #2198dc;
      background-color: #fff;
      position: relative; }
      #our-vehicles #discover .discover-item-6 > i {
        font-size: 2.4rem;
        position: absolute;
        top: 1rem;
        right: 1rem; }
      #our-vehicles #discover .discover-item-6 .discover-item-twitter {
        position: absolute;
        top: 30%;
        left: 5%; }
        #our-vehicles #discover .discover-item-6 .discover-item-twitter a {
          color: #2198dc; }
        #our-vehicles #discover .discover-item-6 .discover-item-twitter .discover-twitter-logo img {
          border-radius: 0.5rem;
          margin-right: 5px;
          height: 4rem; }
        #our-vehicles #discover .discover-item-6 .discover-item-twitter .discover-twitter-logo p {
          font-size: 1.4rem; }
          #our-vehicles #discover .discover-item-6 .discover-item-twitter .discover-twitter-logo p a:first-child {
            font-weight: bold; }
        #our-vehicles #discover .discover-item-6 .discover-item-twitter > p {
          font-size: 1.4rem;
          color: #00324f; }
        #our-vehicles #discover .discover-item-6 .discover-item-twitter .discover-twitter-interaction {
          color: #2198dc; }
          #our-vehicles #discover .discover-item-6 .discover-item-twitter .discover-twitter-interaction span {
            margin-right: 20px; }
    #our-vehicles #discover button {
      margin: 45px 0; }

.transform-rotate {
  transform: rotate(180deg); }

.d-fluid {
  max-width: 100%; }

.pd-col {
  padding: 6px; }

@media screen and (max-width: 1200px) {
  #search-area {
    padding: 15px 20px; } }

@media screen and (max-width: 1200px) {
  #search-area input {
    width: 80%; } }

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  #search-area input {
    width: 80%; } }

@media screen and (max-width: 1300px) {
  #search-field div {
    width: 85%; }
    #search-field div input {
      width: 75%; } }

@media screen and (max-width: 1200px) {
  #copy-right p {
    font-size: 1.3rem; }
  #copy-right ul {
    justify-content: flex-end; }
    #copy-right ul li:first-child {
      padding-left: 0; }
    #copy-right ul li {
      padding: 0 15px; }
      #copy-right ul li a {
        font-size: 1.3rem; }
  #copy-right .logo-footer img {
    max-width: 50%;
    height: 40px; } }

@media screen and (max-width: 992px) {
  #navbar a {
    padding: 15px 15px; } }

@media screen and (max-width: 992px) {
  #navbar .nav-item .nav-link {
    padding: 15px 15px; } }

@media screen and (max-width: 992px) {
  #navbar a:first-child {
    padding: 0; } }

@media screen and (max-width: 992px) {
  #search-area {
    padding: 15px 6px; } }

@media screen and (max-width: 992px) {
  #search-area input {
    width: 80%; } }

@media screen and (max-width: 992px) {
  #swiper-slider {
    margin-top: 45px; } }

@media screen and (max-width: 992px) {
  #swiper-slider {
    height: 600px; } }

@media screen and (max-width: 992px) {
  #swiper-slider .swiper-container {
    height: 400px; } }

@media screen and (max-width: 992px) {
  #swiper-slider .swiper-container .swiper-wrapper {
    height: 90%; } }

@media screen and (max-width: 992px) {
  .intro .intro-container .intro-right {
    background-image: url("../../img/intro-2-xs.jpg"); } }

@media screen and (max-width: 992px) {
  .intro .intro-container .intro-right .intro-right-content {
    width: 80%;
    left: 10%; } }

@media screen and (max-width: 992px) {
  #our-vehicles .carousel-caption-config {
    width: 35%;
    margin: auto;
    left: 7%;
    text-align: left;
    bottom: unset;
    top: 10%;
    font-size: 1.2rem; } }

@media screen and (max-width: 992px) {
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content h2 {
    font-size: 2.4rem; } }

@media screen and (max-width: 992px) {
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content p {
    font-size: 1.2rem; } }

@media screen and (max-width: 992px) {
  #our-vehicles .carousel-caption-footer {
    width: 50%;
    border: none;
    bottom: 2%;
    justify-content: center !important; } }

@media screen and (max-width: 992px) {
  #our-vehicles .carousel-indicators-config {
    width: 100% !important; } }

@media screen and (max-width: 992px) {
  .carousel-control-prev {
    left: 0rem; } }

@media screen and (max-width: 992px) {
  .carousel-control-prev i {
    font-size: 2.4rem;
    padding: 15px; } }

@media screen and (max-width: 992px) {
  .carousel-control-next {
    right: 0rem; } }

@media screen and (max-width: 992px) {
  #our-vehicles h1 {
    font-size: 4rem; } }

@media screen and (max-width: 992px) {
  #our-vehicles .carousel-indicatiors-xs {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 9; } }

@media screen and (max-width: 992px) {
  #our-vehicles .carousel-inner {
    margin-top: 0; } }

@media screen and (max-width: 992px) {
  #search-field {
    padding: 0 15px;
    flex-wrap: wrap; }
    #search-field div {
      width: 75%; }
      #search-field div input, #search-field div i, #search-field div input::placeholder {
        font-size: 1.8rem; }
      #search-field div input {
        width: 65%; }
      #search-field div .btn-search {
        border-color: #007cc3;
        border-radius: 40px;
        color: #2198dc;
        margin-top: 0; }
        #search-field div .btn-search:hover {
          background-color: #007cc3;
          color: white; }
    #search-field p {
      text-align: center; } }

@media screen and (max-width: 992px) {
  #footer .footer-detail {
    width: 25%; } }

@media screen and (max-width: 992px) {
  #copy-right p {
    font-size: 1.2rem; }
  #copy-right ul {
    justify-content: flex-end; }
    #copy-right ul li:first-child {
      padding-left: 0; }
    #copy-right ul li {
      padding: 0 6px; }
      #copy-right ul li a {
        font-size: 1.2rem; }
  #copy-right .logo-footer img {
    max-width: 50%;
    height: 30px; } }

@media screen and (max-width: 768px) {
  #navbar a {
    padding: 6px 15px; } }

@media screen and (max-width: 768px) {
  #navbar a:first-child {
    padding: 6px 15px; } }

@media screen and (max-width: 767px) {
  #navbar .navbar-collapse {
    border-top: 0.15rem solid #eaeaea; } }

@media screen and (max-width: 768px) {
  #navbar .discover-menu::before {
    content: '';
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: 7%;
    right: unset;
    top: 4.5rem; } }

@media screen and (max-width: 768px) {
  #search-area-xs::before {
    border-bottom-width: 0; } }

@media screen and (max-width: 768px) {
  #search-area-xs {
    background-color: #007cc3;
    padding: 6px 6px; } }

@media screen and (max-width: 768px) {
  #search-area-xs i {
    color: #fff;
    font-size: 1.4rem; } }

@media screen and (max-width: 768px) {
  #search-area-xs input {
    width: 60%;
    height: 2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    height: 3.5rem;
    padding-bottom: 6px;
    padding-left: 6px;
    font-size: 1.4rem;
    color: #fff;
    background-color: transparent; } }

@media screen and (max-width: 768px) {
  #search-area-xs input::placeholder {
    font-size: 1.4rem;
    color: #fff; } }

@media screen and (max-width: 768px) {
  #swiper-slider {
    margin-top: 60px; } }

@media screen and (max-width: 768px) {
  .intro .intro-container .intro-right {
    background-image: url("../../img/our-vehicles-intro-2.jpg"); } }

@media screen and (max-width: 768px) {
  .intro .intro-container .intro-right .intro-right-content {
    width: 40%;
    left: 5%; } }

@media screen and (max-width: 768px) {
  .intro .intro-container .intro-right {
    margin-top: 20px; } }

@media screen and (max-width: 768px) {
  #our-vehicles .carousel-caption-config {
    width: 60%;
    margin: auto;
    left: 20%;
    text-align: center;
    bottom: 10%;
    top: unset;
    font-size: 1.2rem; } }

@media screen and (max-width: 768px) {
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content h2 {
    font-size: 2.4rem; } }

@media screen and (max-width: 768px) {
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content p {
    font-size: 1.2rem; } }

@media screen and (max-width: 768px) {
  #our-vehicles .carousel-caption-footer {
    width: 100%;
    border: none;
    bottom: 2%;
    justify-content: center !important; } }

@media screen and (max-width: 768px) {
  .carousel-control-prev {
    left: 0rem; } }

@media screen and (max-width: 768px) {
  .carousel-control-prev i {
    font-size: 2.4rem;
    padding: 15px; } }

@media screen and (max-width: 768px) {
  .carousel-control-next {
    right: 0rem; } }

@media screen and (max-width: 768px) {
  #our-vehicles h1 {
    font-size: 4rem; } }

@media screen and (max-width: 768px) {
  #our-vehicles .carousel-indicatiors-xs {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 9; } }

@media screen and (max-width: 768px) {
  #our-vehicles .carousel-inner {
    margin-top: 30px; } }

@media screen and (max-width: 768px) {
  #search-field {
    padding: 0;
    flex-wrap: wrap; }
    #search-field div {
      padding: 6px 20px;
      width: 100%;
      border-right: none;
      border-top: 1px solid #eaeaea; }
      #search-field div input, #search-field div i, #search-field div input::placeholder {
        font-size: 1.8rem; }
      #search-field div input {
        width: 70%; }
      #search-field div .btn-search {
        border-color: #007cc3;
        border-radius: 40px;
        color: #2198dc; }
        #search-field div .btn-search:hover {
          background-color: #007cc3;
          color: white; }
    #search-field p {
      padding: 15px;
      text-align: center; } }

@media screen and (max-width: 768px) {
  #footer {
    background-color: #fff;
    padding: 0; }
    #footer .footer-detail {
      width: 100%; }
      #footer .footer-detail h1 {
        background-color: #f5f5f5;
        padding: 15px 15px;
        align-items: center;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px; }
        #footer .footer-detail h1 i {
          width: 30px;
          height: 30px;
          background-color: #007cc3;
          border-radius: 50%;
          color: white;
          font-size: 1.4rem;
          text-align: center;
          line-height: 30px;
          color: #2198dc;
          background: transparent;
          border: 1px solid #4f91ca; }
      #footer .footer-detail ul {
        padding-left: 20px; }
    #footer .footer-touch .touch-left, #footer .footer-touch .touch-right {
      width: 100%;
      padding: 15px 20px; }
    #footer .footer-touch .touch-right {
      text-align: left; }
      #footer .footer-touch .touch-right .btn-search {
        border-color: #007cc3;
        border-radius: 40px;
        color: #2198dc; }
        #footer .footer-touch .touch-right .btn-search:hover {
          background-color: #007cc3;
          color: white; } }

@media screen and (max-width: 768px) {
  #copy-right p {
    font-size: 1.2rem; }
  #copy-right ul {
    justify-content: flex-start; }
    #copy-right ul li:first-child {
      padding-left: 0; }
    #copy-right ul li {
      padding: 0 6px; }
      #copy-right ul li a {
        font-size: 1.2rem; }
  #copy-right .logo-footer {
    justify-content: center !important; }
    #copy-right .logo-footer img {
      display: none; }
    #copy-right .logo-footer img:first-child {
      display: inline; } }

@media screen and (max-width: 576px) {
  #navbar a {
    padding: 6px 15px; } }

@media screen and (max-width: 576px) {
  #navbar a:first-child {
    padding: 6px 15px; } }

@media screen and (max-width: 576px) {
  #navbar .navbar-collapse {
    border-top: 0.15rem solid #eaeaea; } }

@media screen and (max-width: 576px) {
  #navbar .discover-menu::before {
    content: '';
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: 7%;
    right: unset;
    top: 4.5rem; } }

@media screen and (max-width: 576px) {
  #search-area-xs::before {
    border-bottom-width: 0; } }

@media screen and (max-width: 576px) {
  #search-area-xs {
    background-color: #007cc3;
    padding: 6px 6px; } }

@media screen and (max-width: 576px) {
  #search-area-xs i {
    color: #fff;
    font-size: 1.4rem; } }

@media screen and (max-width: 576px) {
  #search-area-xs input {
    width: 60%;
    height: 2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    height: 3.5rem;
    padding-bottom: 6px;
    padding-left: 6px;
    font-size: 1.4rem;
    color: #fff;
    background-color: transparent; } }

@media screen and (max-width: 576px) {
  #search-area-xs input::placeholder {
    font-size: 1.4rem;
    color: #fff; } }

@media screen and (max-width: 576px) {
  .intro .intro-container .intro-right {
    margin-top: 20px; } }

@media screen and (max-width: 576px) {
  #vehicles #vehicle-content .vehicle-nav ul li {
    display: inline-block;
    margin-bottom: 20px; } }

@media screen and (max-width: 576px) {
  #vehicles #vehicle-content .vehicle-nav ul li a {
    padding: 6px 15px;
    border: none; } }

@media screen and (max-width: 576px) {
  #swiper-slider {
    margin-top: 60px; } }

@media screen and (max-width: 576px) {
  #our-vehicles .carousel-caption-config {
    width: 60%;
    margin: auto;
    left: 20%;
    text-align: center;
    bottom: 10%;
    top: unset;
    font-size: 1.2rem; } }

@media screen and (max-width: 576px) {
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content h2 {
    font-size: 2.4rem; } }

@media screen and (max-width: 576px) {
  #our-vehicles .carousel-caption-config .carousel-caption-detail .carousel-detail-content p {
    font-size: 1.2rem; } }

@media screen and (max-width: 576px) {
  #our-vehicles .carousel-caption-footer {
    width: 100%;
    border: none;
    bottom: 2%;
    justify-content: center !important; } }

@media screen and (max-width: 576px) {
  .carousel-control-prev {
    left: 0rem; } }

@media screen and (max-width: 576px) {
  .carousel-control-prev i {
    font-size: 2.4rem;
    padding: 15px; } }

@media screen and (max-width: 576px) {
  .carousel-control-next {
    right: 0rem; } }

@media screen and (max-width: 576px) {
  #our-vehicles h1 {
    font-size: 4rem; } }

@media screen and (max-width: 576px) {
  #our-vehicles .carousel-indicatiors-xs {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 9; } }

@media screen and (max-width: 576px) {
  #our-vehicles .carousel-inner {
    margin-top: 30px; } }

@media screen and (min-width: 440px) and (max-width: 576px) {
  #our-vehicles .function div {
    top: 50%; } }

@media screen and (max-width: 576px) {
  #search-field {
    padding: 0;
    flex-wrap: wrap; }
    #search-field div {
      padding: 6px 15px;
      width: 100%;
      border-right: none;
      border-top: 1px solid #eaeaea; }
      #search-field div input, #search-field div i, #search-field div input::placeholder {
        font-size: 1.8rem; }
      #search-field div input {
        width: 60%; }
      #search-field div .btn-search {
        border-color: #007cc3;
        border-radius: 40px;
        color: #2198dc; }
        #search-field div .btn-search:hover {
          background-color: #007cc3;
          color: white; }
    #search-field p {
      padding: 15px;
      text-align: center; } }

@media screen and (max-width: 576px) {
  #footer {
    background-color: #fff;
    padding: 0; }
    #footer .footer-detail {
      width: 100%; }
      #footer .footer-detail h1 {
        background-color: #f5f5f5;
        padding: 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
        font-size: 1.4rem; }
        #footer .footer-detail h1 i {
          width: 30px;
          height: 30px;
          background-color: #007cc3;
          border-radius: 50%;
          color: white;
          font-size: 1.4rem;
          text-align: center;
          line-height: 30px;
          color: #2198dc;
          background: transparent;
          border: 1px solid #4f91ca; }
      #footer .footer-detail ul {
        padding-left: 20px; }
    #footer .footer-touch .touch-left, #footer .footer-touch .touch-right {
      width: 100%;
      text-align: left;
      padding: 15px 20px; }
    #footer .footer-touch .touch-right .btn-search {
      border-color: #007cc3;
      border-radius: 40px;
      color: #2198dc; }
      #footer .footer-touch .touch-right .btn-search:hover {
        background-color: #007cc3;
        color: #fff; } }

@media screen and (max-width: 576px) {
  #copy-right p {
    font-size: 1.2rem; }
  #copy-right ul {
    justify-content: flex-start; }
    #copy-right ul li:first-child {
      padding-left: 0; }
    #copy-right ul li {
      padding: 0 6px; }
      #copy-right ul li a {
        font-size: 1.2rem; }
  #copy-right .logo-footer {
    justify-content: center !important; }
    #copy-right .logo-footer img {
      display: none; }
    #copy-right .logo-footer img:first-child {
      display: inline; } }
