#search-area{
	@media screen and (max-width:1200px){
		padding:$pd-2 $pd-3;
	}
	input{
		@media screen and (max-width:1200px){
			width:80%;
		}
		@media screen and (min-width:1200px) and (max-width:1300px){
			width:80%;
		}
	}
}
#search-field{
	@media screen and (max-width:1300px){
		div{
			width:85%;
			input{
				width:75%;
			}
		}
	}
}
#copy-right{
	@media screen and (max-width:1200px){
		p{
			font-size:$font-size-1 - 0.1;
		}
		ul{
			justify-content:flex-end;
			li:first-child{
				padding-left:0;
			}
			li{
				padding:0 $pd-2;
				a{
					font-size:$font-size-1 - 0.1;
				}
			}
		}
		.logo-footer{
			img{
				max-width:50%;
				height:40px;
			}
		}

	}

}