#navbar{
	a{
		@media screen and (max-width:576px){
			padding: $pd-1 $pd-2;
		}
	}
	a:first-child{
		@media screen and (max-width:576px){
			padding:$pd-1 $pd-2;
		}
	}
	.navbar-collapse{
		@media screen and (max-width:576px){
			border-top:$border-2;
		}
	}
	.discover-menu{
		&::before{
			@media screen and (max-width:576px){
				@include arrow(7%,unset);
				top:4.5rem;
			}
		}
	}
}
#search-area-xs{
	&::before{
		@media screen and (max-width:576px){
			border-bottom-width:0;
		}
	}
	@media screen and (max-width:576px){
		background-color:$color-blue-100;
		padding:$pd-1 $pd-1;
	}
	i{
		@media screen and (max-width:576px){
			color:$color-white;
			font-size:$font-size-1;
		}
	}
	input{
		@media screen and (max-width:576px){
			width:60%;
			height:2rem;
			border:2px solid $color-white;
			border-radius:5px;
			height:3.5rem;
			padding-bottom:$pd-1;
			padding-left:$pd-1;
			font-size:$font-size-1;
			color:$color-white;
			background-color:transparent;
		}
		&::placeholder{
			@media screen and (max-width:576px){
				font-size:$font-size-1;
				color:$color-white;
			}
		}
	}
	
}
.intro{
	.intro-container{
		.intro-right{
			@media screen and (max-width:576px){
				margin-top:$mg-2;
			}
		}
	}
}
#vehicles{
	#vehicle-content{
		.vehicle-nav{
			ul li{
				@media screen and (max-width:576px){
					display:inline-block;
					margin-bottom:$mg-2;
				}
			}
			ul li a{
				@media screen and (max-width:576px){
					padding:$pd-1 $pd-2;
					border:none;
				}
			}
		}
	}
}
#swiper-slider{
	@media screen and (max-width:576px){
		margin-top:$mg-5;
	}
}

#our-vehicles{
	.carousel-caption-config{
		@media screen and (max-width:576px){
			width:60%;
			margin:auto;
			left:20%;
			text-align:center;
			bottom:10%;
			top:unset;
			font-size:$font-size-1 - 0.2;
		}
		.carousel-caption-detail{
			.carousel-detail-content{
				h2{
					@media screen and (max-width:576px){
						font-size:$font-size-3;
					}
					
				}
				p{
					@media screen and (max-width:576px){
						font-size:$font-size-1 - 0.2;
					}
				}
			}
		}
	}
	.carousel-caption-footer{
		@media screen and (max-width:576px){
			width:100%;
			border:none;
			bottom:2%;
			justify-content:center !important; 
		}
	}
}
.carousel-control-prev{
	@media screen and (max-width:576px){
		left:0rem;
	}
 	i{
 		@media screen and (max-width:576px){
 			font-size:$font-size-3;
			padding:$pd-2;
 		}
 	}
}
.carousel-control-next{
  @media screen and (max-width:576px){
		right:0rem;
	}
}
#our-vehicles{
	h1{
		@media screen and (max-width:576px){
			font-size:$font-size-5;
		}
	}
	.carousel-indicatiors-xs{
		@media screen and (max-width:576px){
			position:absolute;
			top:0;
			left:20%;
			z-index:9;
		}
	}
	.carousel-inner{
		@media screen and (max-width:576px){
			margin-top:$mg-3;
		}
	}
	.function{
		div{
			@media screen and (min-width:440px) and (max-width:576px){
				top:50%;
			}
		}
	}
}
#search-field{
	@media screen and (max-width:576px){
		padding:0;
		flex-wrap:wrap;
		div{
			padding:$pd-1 $pd-2;
			width:100%;
			border-right:none;
			border-top:$border-3;
			input,i,input::placeholder{
				font-size:$font-size-2;
			}
			input{
				width:60%;
			}
			.btn-search{
				border-color:$color-blue-100;
				border-radius:40px;
				color:$color-blue-200;
				&:hover{
					background-color:$color-blue-100;
					color:white;
				}	
			}
		}
		p{
			padding:$pd-2;
			text-align:center;
		}
	}
}
#footer{
	@media screen and (max-width:576px){
		background-color:$color-white;
		padding:0;
		.footer-detail{
			width:100%;
			h1{
				background-color:$color-grey;
				padding:$pd-2 $pd-2;
				display:flex;
				justify-content:space-between;
				align-items:center;
				margin-bottom:$mg-1 - 3;
				font-size:$font-size-1;
				i{
					@include social-icon;
					color:$color-blue-200;
					background:transparent;
					border:$border-1;
				}
			}
			ul{
				padding-left:$pd-3;
			}
		}
		.footer-touch{
			.touch-left,.touch-right{
				width:100%;
				text-align:left;
				padding:$pd-2 $pd-3;
			}
			.touch-right{
				.btn-search{
					border-color:$color-blue-100;
					border-radius:40px;
					color:$color-blue-200;
					&:hover{
						background-color:$color-blue-100;
						color:$color-white;
					}
				}
			}
		}
	}
}
#copy-right{
	@media screen and (max-width:576px){
		p{
			font-size:$font-size-1 - 0.2;
		}
		ul{
			justify-content:flex-start;
			li:first-child{
				padding-left:0;
			}
			li{
				padding:0 $pd-1;
				a{
					font-size:$font-size-1 - 0.2;
				}
			}
		}
		.logo-footer{
			justify-content:center !important;
			img{
				display:none;
			}
			img:first-child{
				display:inline;
			}
		}

	}

}