@mixin button($border,$bg,$color,$padding,$bg-hover,$color-hover){
	border:2px solid $border;
	border-radius:40px;
	background-color:$bg;
	color:$color;
	font-weight:$font-weight-bold;
	padding:$padding;
	font-size:$font-size-1;
	cursor:pointer;
	&:hover{
		background-color:$bg-hover;
		color:$color-hover;
	}
}
.btn-vehicle{
	@include button($color-blue-200,$color-blue-200,$color-white,$pd-1 $pd-5,$color-white,$color-blue-100);
	margin-right:$mg-1;
}
.btn-vehicle-active{
	@include button($color-blue-200,$color-white,$color-blue-100,$pd-1 $pd-5,$color-blue-200,$color-white);
}
.btn-search{
	@include button($color-blue-200,transparent,$color-blue-100,$pd-1 $pd-5,$color-blue-200,$color-white);
	margin-top:$mg-2 *(-1);
	@media screen and (max-width:768px){
		@include button($color-white,transparent,$color-white,$pd-1 $pd-2,$color-white,$color-blue-200);
		margin-top:0;
		border-radius:5px;
	}
}
.btn-carousel{
	@include button($color-orange,$color-orange,$color-white,$pd-1 $pd-2,$color-white,$color-orange);
}
.btn-go{
	@include button($color-blue-200,$color-blue-200,$color-white,$pd-1 $pd-2,transparent,$color-blue-100);
}
.btn-go-orange{
	@include button($color-orange,$color-orange,$color-white,$pd-1 $pd-2,$color-white,$color-orange);
}
.btn-build{
	@include button($color-white,transparent,$color-white,$pd-1 $pd-2,$color-white,$color-blue-100);
}
.btn-caption{
	padding:$pd-1 $pd-5;
	@media screen and (max-width:576px){
		font-size:$font-size-1 - 0.2;
		padding:$pd-1 $pd-3;
	}
}