@mixin arrow($left,$right){
	content:'';
	border-bottom:15px solid white;
	border-right:15px solid transparent;
	border-left: 15px solid transparent;
	position:absolute;
	top:-15px;
	left:$left;
	right:$right;
}
@mixin text($weight,$margin){
	font-weight:$weight;
	margin-bottom:$margin;
}
@mixin section-padding{
	padding:0 $pd-8;
}
@mixin social-icon{
	width:30px;
	height:30px;
	background-color:$color-blue-100;
	border-radius:50%;
	color:white;
	font-size:$font-size-1;
	text-align:center;
	line-height:30px;			
}